/*
  STYLE GUIDE STYLING 
  Default styling for the style guide 
*/
body {
  font-family: "Source Sans Pro";
  padding: 2rem;
}

section:not([id]) {
  margin: 1em 0;
  padding: 0.5em 0;
  border-top: 0.15em solid #494949;
}

section h3 {
  margin-bottom: 5;
}

section p {
  margin-top: 5;
}

nav a:hover, nav a:focus {
  text-decoration: none;
}

section code {
  background-color: #EEE;
  padding: 0.5em 0.75em;
  display: block;
}

h1{
    font-family: "Source Sans Pro";
   font-weight: 300;
   font-style: normal;
   font-size: 1.875em;
   line-height: 2px;
     color: #a6ce7c;
     
}

h2{
    font-family: "Source Sans Pro";
   font-weight: 600;
   font-style: normal;
   font-size: 1.5625em;
   line-height: 20px;
     color: #a6ce7c;
     
}

h3{
    font-family: "Source Sans Pro";
   font-weight: 300;
   font-style: normal;
   font-size: 1em;
   line-height: 20px;
     color: #a6ce7c;
       text-transform: uppercase;
}

.indent{
  text-indent: 3em;
}


/* 
  INTERACTIVE ELEMENTS -------------------
*/

/* Styling for the navigation button */
.button-nav {
  display: inline-block;
  padding: 0.5em 0.75em;
  color: #FFF;
  background-color: #608fe2;
  border-radius: 0.15em;
  text-decoration: none;
  font-weight: bold;
  font-style: normal;
  -webkit-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}

.button-nav:hover, .button-nav:focus {
  background-color: #80afdd;
  color: #FFF;

}

/* Styling for the in-text link */
a {
  color: #608fe2;
  text-decoration: none;
  font-style: italic; 
}


a:active, a:hover {
  color: #888888; 
  text-decoration: none;
}

/* Styling for submit/reset buttons */
.button-submit {
  display: inline-block;
  padding: 0.5em 0.75em;
  color: #FFF;
  background-color: #608fe2;
  border-radius: 0.15em;
  text-decoration: none;
  font-weight: bold;
  font-style: normal;
  text-transform: uppercase;
  -webkit-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}

.button-submit:hover, .button-submit:focus {
  background-color: #80afdd;
  color: #FFF;
}

/* Styling for text input field and label */
input {
    margin-top: 1em;
    padding: 8px;
     border: solid 1px gainsboro;
     background-color: #efefef;
     font-style: italic; 
}

label{
   
   font-family: "Source Sans Pro";
   font-weight: 600;
   font-style: normal;

}
label, input {
  display: block;
}


/* 
  TEXT ELEMENTS -------------------
*/


/* Styling for headings */
 .main {
     font-family: "Source Sans Pro";
   font-weight: 200;
   font-style: normal;
   font-size: 2.5em;
   line-height: 30px;
   text-transform: uppercase;
     color: #494949;
}

.booktitle {
     font-family: "Source Sans Pro";
   font-weight: 600;
   font-style: normal;
   font-size: 0.9375em;
   line-height: 2px;
     color: #000000;
}

.author {
  font-family: "Source Sans Pro";
   font-weight: 300;
   font-style: normal;
   font-size: 0.875em;
   line-height: 2px;
     color: #000000;
}

.price {
     font-family: "Source Sans Pro";
   font-weight: 600;
   font-style: normal;
   font-size: 0.9375em;
   line-height: 8px;
     color: #608fe2;
}

/* Styling for paragraphs, bulleted list, numbered list */
.paragraph-style, .bullet-list, .numbered-list {
  font-family: "Source Sans Pro";
   font-weight: 400;
   font-style: normal;
   font-size: 0.875em;
     color: #000000;
    line-height: 1.2em;
  max-width: 40em;
}


/* 
  COMBINED ELEMENTS -------------------
*/

/* Styling for main navigation menu */
/* CSSTerm.com Simple CSS menu */

.menu ul {
    margin: 0; 
    padding: 0;
    border: 5em solid #efefef;
    width:11.6em;
    list-style-type: none;
}

.menu ul li a {
   font-family: "Source Sans Pro";
   font-weight: 400;
   font-style: normal;
   font-size: 1.25em;
    text-decoration: none;
    text-transform: uppercase;
    color: #a6ce7c; 
    padding: 0.656em 0.6875em;
    background-color: #ffffff;
    display:block;
    border-bottom: 0.05em solid #efefef;
}
 
.menu ul li a:visited {
    color: #a6ce7c;
}
 
.menu ul li a:hover, .menu ul li .current {
    color: white;
    background-color: #a6ce7c;
}

/* Styling for product listing */
.product-listing{
     display:inline-block;
    border: 5em solid #efefef;
    padding:1.25rem;
    max-width: 14em;
    list-style-type: none;
}


.product-listing h1 {
   
    text-align: center;

}

.product-listing, .button-nav{
   
    text-align: center;

}

img{
 
  height: auto;
  width: auto;
  max-width: 100%;

}
