body {
    background-color: #eeeeee;
    color: #333;
    font-family: "Roboto",UILanguageFont,Arial,sans-serif;
    font-size: 13px;
    font-weight: 300;
    line-height: 1.4;
    height: 100%;
    max-width: 100%;
    position: relative;
    text-rendering: optimizeLegibility;
    z-index: -1;
    border: 0;
    margin: 0;
    padding: 0;
}
h1{
  font-size: 24px;
    line-height: 24px;
  margin: 30px 0;
  font-weight: 300;
  text-transform: uppercase;}
h2{
  font-family: "Roboto";
    margin: 5px 0;
    font-size: 18px;
  padding: 5px 0 5px 0;
    letter-spacing: 1px;
    line-height: 18px;
    text-transform: uppercase;
    font-weight: 200;
}
h4{
  line-height: 20px;
    color: #5c5c5c;
    font-weight: 300;
    margin: 15px 0;
    font-size: 13px;
}
p{  
  font-size: 15px;
    line-height: 20px;
}
section {
  margin: 1em 0;
  padding: 5em 0;
  width: 100%;

}


section:not([id]) {
  margin: 0px;
  padding-bottom: 15px;

  padding-top: 15px;
width: 100%;
}


/*search bar*/
.box{   

    left: 0;
    min-width: 1177px;
    position: absolute;
    top: 0;
    -webkit-user-select: none;
    width: 100%;

}
.box2{

  display: -webkit-flex;
    display: flex;

    margin-left: 0!important;
    margin-right: 0!important;

    white-space: nowrap;

    background: #f1f1f1;
    position: relative;
    height: 60px;
    width: 100%;

}

.box ul {
    list-style-type:none;
}

.box li {
    display:inline-block;
}

/*logo*/
.container-1{



    max-width: 100%;
    min-width: 20%;
   max-height: 60px;
    line-height: 58px;
    vertical-align: middle;
    padding: 8.5px 0px 0 30px;
    overflow: hidden;
    position: relative;
    z-index: 987;
    margin-left: 0!important;
    margin-right: 0!important;
  display: inline-block;
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
    -webkit-flex: 0 0 main-size;
    flex: 0 0 main-size;
    white-space: nowrap;
}
.container-1 img{
  width:250px;
}

.container-2{
  padding:15px 30px 15px 30px;
  max-height: 60px;
    max-width: 100%;
    min-width: 25%;
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-flex: 1 1 main-size;
    flex: 1 1 main-size;
    display: flex;
    float: right;
    -webkit-order: 1;
    order: 1;
    line-height: 58px;
    vertical-align: middle;
    position: relative;
    text-align: right;
    z-index: 986;
    webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;

}

#gba {
    height: 60px;
}
/*search bar*/ 
.container-4{
  max-width: 100%;
  min-width: 50%;
  width: 50%;
  max-height: 60px;
  padding: 15px 30px 15px 30px;

}
.container-4 input#search{
  margin-left: 0!important;
    margin-right: 0!important;
  width: 70%;
  height: 30px;

  font-family: "Roboto-Light";
  background: white;
  border: 1.5px solid #009688;
  font-size: 10pt;
  float: left;
  color: black;
}
.container-4 button.icon{
  border: none;
  background: #009688;
  height: 30px;
  width: 50px;
  color: white;
  opacity: 0;
  font-size: 10pt;
 
  -webkit-transition: all .55s ease;
  -moz-transition: all .55s ease;
  -ms-transition: all .55s ease;
  -o-transition: all .55s ease;
  transition: all .55s ease;
}


.container-4:hover button.icon, .container-4:active button.icon, .container-4:focus button.icon{
    outline: none;
    border: 1.5px solid #009688;
    opacity: 1;
    margin-left: -50px;
}
 
.container-4:hover button.icon:hover{
    background: #009688 ;
}

.container-2 p {
  font-size: 10px;
}

/*account and cart*/
.container-2 i .fa{

  border: none;
  background: transparent;

  color: #009688;
  opacity: 0.55;
  width: 14px;
  height: 12px;
  padding: 0;  
  font-family: 'proxima-nova';

    
 
  -webkit-transition: all .55s ease;
  -moz-transition: all .55s ease;
  -ms-transition: all .55s ease;
  -o-transition: all .55s ease;
  transition: all .55s ease;
}

.container-2 button.icon{
  border: none;
  background: #009688;
  height: 30px;
  width: 50px;
  color: white;
  opacity: 1;
  font-size: 10pt;
 
  -webkit-transition: all .55s ease;
  -moz-transition: all .55s ease;
  -ms-transition: all .55s ease;
  -o-transition: all .55s ease;
  transition: all .55s ease;
}

.container-2:hover button.icon , .container-2:active button.icon, .container-2:focus button.icon{
    outline: none;
    background-color: white;
    color: #009688;
    opacity: 1;

  }
 


.menu{
  font-family: "Roboto";

  width:100%;
  background-color:#009688;

}
.menu ul {
  background-color: #009688;
  font-size: 15px;
  text-transform: uppercase;
  padding-left: 0px;


}
.menu ul li {
  
  text-align: center;
  display: inline-block;
  position: relative;
  padding: 15px 50px;
  background: #fff;
  color:#43A047;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.menu ul li:hover {
  background:#43A047;
  color: white;
}
.menu ul li ul {
  padding-top: 2px;
  position: absolute;
  top: 50px;
  left: 0;
  width: 151px;
  display: none;
  opacity: 0;
  visibility: hidden;
  -webkit-transiton: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -transition: opacity 0.2s;
}
.menu ul li ul li { 

  text-align: center;
  background: #43A047 ; 
  display: block; 
  color: white;   
   transition: 0.5s ease;
}
.menu ul li ul li:hover { 
  font-size: 105%;
background: #4CAF50; 

}
.menu ul li:hover ul {
  display: block;
  opacity: 1;
  visibility: visible;


}

.menu ul li:after {

       color: #009688;
       content: '  ▾';
       
    }
.content{
  width:100%;
  padding: 30px;
    float:left;
}


 

/*
  Here using @media queries, we are specifying when the display
  has a width less than 50em it should collapse the 5/10 columns 
  into one stack (hence width: 100%)

  Think of this as saying, when display width > 50em, apply this
*/
@media (min-width: 50em) {

  

  .grid-col-5of10:first-of-type {
    padding-right: 0.5em;
  }

  .grid-col-5of10:last-of-type {
    padding-left: 0.5em;
  }

}
.row3 h1{
  text-align: center;
}

.col-1of10-home{
  background-image: url("img/bg1.jpg");
  height: 680px;
  width: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    display: table;
    min-height: 200px;
    max-height: 470px;
    text-align: center;
    transition: height 100ms linear;

}
.contents{

    color: #333333;
  width:50%;
  margin-left: 25%;
  margin-right: 25%;

    font-family: 'proxima-nova',sans-serif;
}

.col-1of10-home .contents h5{

font-size: 5em;
    margin-bottom:0;
    margin-top: 90px;
        font-weight: bold;
    letter-spacing: .1em;
    line-height: 1;

}

.col-1of10-home .contents p{
font-size: 1.5em;
letter-spacing: .085em;
    max-width: 25em;
    margin-left: auto;
    margin-right: auto;
    line-height: 2;
    text-transform: uppercase;

   }
.fiction h1{
  font-family: "Roboto-Thin";
  font-weight: 100;
  font-size: 4em;
  letter-spacing: 1px;
  margin: 60px 0% 0% 60px;
  line-height: 105%;


}

.standard_title { 

  float: left;  
  padding: 5px 0 5px 0; 
  font-size: 30px;
  letter-spacing: 1px;
  margin-left: 30px;

}
.standard_title_centered {

  font-family: "Roboto-Thin";
  font-weight: 100;
    overflow: hidden;
    width: 100%;
    margin-left: 0;
    text-align: center;
    margin-top: 20px;
}
.standard_title_centered a {
  background: transparent url('img/arrow.png') no-repeat center right;
  margin-right:5px }

.standard_title_centered a {
    float: right;
    padding: 5px 24px 3px 0px;
    text-transform: lowercase;
    margin-top: 12px;
    margin-right: 42px;
    color: #000;
    text-decoration: none !important;
    font: 15px 'Roboto', sans-serif;
    letter-spacing: 1.5px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}

.col-3of10 .indexFeatureImage{
  padding :3em 3em 0px 3em;
  width: 100%;
  display: table;

  -webkit-transition: opacity 0.5s ease-out;
  transition: opacity 0.5s ease-out;

}


/*book title*/
.col-5of10 h3{
  text-align: center;
  font-size: 0.9rem;
  margin-top: 3px;
  margin-bottom: 3px;

}
.col-5of10 p{
  
    text-align: center;
  font-size: 0.8rem;
  margin-top: 3px;
  margin-bottom: 3px;

}
.col-7of10 p{
  
    text-align: center;
  font-size: 0.9rem;
  margin-top: 3px;
  margin-bottom: 3px;
  color: #1380b5;

}
.col-8of10 a {
  min-width: 49%;
    font-size: 14px;
    margin:0;
    text-transform: uppercase;
    text-align: center;
    display: inline-block;
    padding: 10px;
    color: #FFF;
    background-color: #1380b5;
    text-decoration: none;
    -webkit-transition: background-color 0.5s ease-out;
    ransition: background-color 0.5s ease-out;}

.col-10of10 {
  }
.col-10of10  a{
    font-size: 14px;
    
    text-transform: uppercase;
    text-align: center;
    display: inline-block;
    padding: 10px 25px 10px 25px;
    color: #FFF;
    background-color: #1380b5;
    text-decoration: none;
    -webkit-transition: background-color 0.5s ease-out;
    ransition: background-color 0.5s ease-out;

}

/* Glow */
button .hvr-glow {

  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
}
.hvr-glow:hover, .hvr-glow:focus, .hvr-glow:active {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
}






*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


[class^='col-'] {
  float: left;
  padding: 0; 
}

.col-9of10{
  width: 29%;
  margin-top: 7%;
/* RGBa with 0.6 opacity */

  background: rgba(255, 255, 255, 0.3);

}
.col-1of10-home .col-9of10 p {
    margin-left: 10%;
    margin-right: 10%;
}
.col-1of10-home .col-9of10 h2 {
    margin-left: 10%;
    margin-right: 10%;}

.col-11of10{
  width:100%;
  padding: 15px 30px;
}

/*booktitle*/
.col-5of10 {
  width: 100%;
  padding :0px 3em 0px 3em;

}


@media (max-width: 50em) {

  .col-5of10 {
    width: 100%;
  }

}
/*bookprice*/
.col-7of10 {
  width: 100%;
  padding :0px 3em 0px 3em;

}


@media (max-width: 50em) {

  .col-7of10 {
    width: 100%;
  }

}


/*button*/
.col-8of10 {

width: 100%;
padding :10px 3em 20px 3em;
}

@media (max-width: 1000px) {

  .col-8of10 .col-8of10 a {
    width: 100%;
  }

}


.col-5of10-home{
  width:50%;
}

@media (max-width: 50em) {

  .col-5of10-home {
    width: 100%;
    margin-left:0;
  }

}



.col-6of10 {
  width: 16.6%;
}

@media (max-width: 50em) {

  .col-6of10 {
    width: 100%;
  }

}

/*book cover*/
.col-3of10{
  background-color: white;
  font-family: "Roboto";
  width: 19%;
  margin-right: 1%;
  margin-bottom: 1%;
}

#hover-content {
     background-color:black ;
  
    padding:0em 3em 0px 3em;
    font-size: 0.75em;
    color: white;
    width: 100%;
    height: 20%;
    opacity: 0;
    transition: all 0.4s ease-in-out;
    -webkit-font-smoothing: antialiased;
    text-transform: uppercase;

}
#parent:hover #hover-content {
    display:block;
    opacity: 1;
}
@media (max-width: 30em) {

  .col-3of10 {
    width: 100%;
    margin-top: 0;
  }

}

.col-3of10-footer{
  width:33.3%;
}


@media (max-width: 50em) {

  .col-3of10-footer {
    width: 100%;
    margin-top: 0;
  }

}

.row1{

  width: 80%;
  background-color: white;
  padding: 3%;
  margin-left: 10%;
  margin-right:10%;
  margin-top: 5%;

}
.col-4of10{
  width: 50%;

}

   
.cover-container {
    float: none;
    display: inline-block;
  margin: 0 50px 0 30px;
  }

.cover-container img {


  width: 267px;
    height: auto;
    box-shadow: 0 5px 10px #8d8d8d;
    
}

.info-container{
  overflow: hidden;
    white-space: nowrap;

    padding: 0;
    position: relative;
    min-height: 195px;
    font-family: "Roboto";
}


.info-container .info-box-top {
    box-sizing: border-box;
    min-height: 200px;
    padding-bottom: 60px;
    vertical-align: top;
}
.info-container .info-box-top, .info-container .info-box-bottom {
    display: inline-block;
    white-space: normal;
    width: 550px;
}
.info-container .info-box-bottom {
  width: 450px;
  left: -553px;
    margin-top: 190px;
    top: -10px;
    position: relative;}


.info-container .document-title {
    margin: 0px 30px 0px 0;
    color: #333;
    font-size: 30px;
    font-weight: 300;
    line-height: 40px;
    white-space: normal;
}
.info-container .info-box-top .document-subtitles {
    margin-bottom: 10px;
}
.info-container .document-subtitles .left-info {
  
    color: #616161;
    float: left;

    text-decoration: none;
}
.info-container .document-subtitles .left-info h3  {
  font-weight: 300;
    margin: 5px 0; 
    font-size: 18px;
}
.info-container .document-subtitles .left-info h4  {
  line-height: 13px;
  color: #5c5c5c;
  font-weight: 300;
    margin: 15px 0; 
    font-size: 13px;
}


.details-section {
    background: #fff;
    margin-top: 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    position: relative;
    text-align: left;
    width: 100%;
}
.row1 .details-section .heading {
    color: #212121;
    font-size: 14px;
    font-weight: normal;
    text-transform: uppercase;
}
.reviews .details-section-heading .heading {
    margin-bottom: 12px;
}
.reviews .details-section-heading .heading, .review-actions {
    display: inline-block;
}
.details-section .heading {
    color: #333;
    font-size: 28px;
    font-weight: 100;
    margin: 0 0 10px 0;
}
.details-actions-left {
    float: left;
}
.details-actions-right {
    float: right;
    text-align: right;
}

.wishlist-display, .wishlist-container {
    display: inline-block;}

.wishlist-container .wishlist-icon{
    background-image: url(img/wishlist.png);
    opacity: 1;
    background-position: center;
    background-repeat: no-repeat;
    height: 32px;
    margin-left: -10px;
    margin-top: 1px;
    position: absolute;
    width: 32px;
    color: #1380b5;
    padding: 10px;
}
.wishlist-text{
  min-width: 95px;
    padding-left: 20px;

}
.wishlist-text-add{
    color: #1380b5;
    display: block;
    font-size: 13px;
    min-width: 110px;
    padding: 10px;
}
.wishlist-text-add:hover{
    color: black;
}

@media (max-width: 50em) {

  .col-4of10 {overflow: hidden;
    white-space: nowrap;
}
.details-info .info-container {
    padding: 0;
    position: relative;
}
.details-info .info-container {
    min-height: 195px;
    width: 100%;
  }

}

.col-2of10{
  width: 20%;
}

@media (max-width: 50em) {

  .col-2of10 {
    width: 100%;
  }

}

.col-1of10{
  width: 100%;
}

@media (max-width: 50em) {

  .col-1of10-home {
    width: 100%;
    margin-left: 0;
  }

}
.col-3of10-footer {
    width: 33.3%;
    text-align: center;
}


.grid:after {
  content: "";
  display: block;
  clear: both;

}


/*footer */


.footer-distributed{
  background-color: #009688;
  box-sizing: border-box;
  width: 100%;

  padding-top: 2em;
  padding-bottom: 2em;
  margin-top: 40px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
  display: inline-block;
  vertical-align: top;
  font-family: "Roboto";

}

/* Footer left */

.footer-distributed .footer-left{
  padding-left: 8%;
  width: 30%;
  text-align: left;}

/* The company logo */

.footer-distributed h3{
  color:  white;
  font: normal 24px 'Roboto-Regular';
  margin: 0;

  text-transform: uppercase;
}

.footer-distributed h3 span{
  color:  white;
}



.footer-distributed .footer-company-name{
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */


.footer-distributed .footer-center{
  padding-left: 8%;
  width: 30%;
  text-align: left;}
}







.footer-distributed .footer-centera{
  color:  white;
  text-decoration: none;
}



/* Footer Right */



.footer-distributed .footer-company-about{
  font-family: "Roboto-Light";
  line-height: 20px;
  color: white;
  font-size: 14px;
  font-weight: normal;
  margin: 20px 0 12px;

}


.footer-distributed .footer-right{
  padding-left: 8%;
    width: 30%;
    text-align: left;
  
}



.footer-distributed .footer-icons{
  margin-top: 25px;
}

.footer-distributed .footer-icons a{
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: white;
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}



/* the footer to be responsive */

@media (max-width: 880px) {

  .footer-distributed{
    font: bold 14px sans-serif;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right{
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-distributed .footer-center i{
    margin-left: 0;
  }

}

@media (max-width: 880px) {

  #cssmenu ul li{
    text-align: center;
    width:100%;
  }



.col-1of10-home .content: {
  width: 20%;
  padding: 30px;

}


  
  .container-1 a img{
    display: block;
    width: 300px;
  }

  .container-4 input#search, .container-2 button.icon, .container-2 button.icon{
    display: none;
    text-align: center;
  }

}

