/*header */
.col-1of10{   
    left: 0;
    top: 0;
    position: absolute;
    -webkit-user-select: none;
    max-width: 100%;
    min-width: 100%;

}
/*logo*/
.col-2of10{
    display: -webkit-flex;
    display: flex;
    margin-left: 0!important;
    margin-right: 0!important;

    white-space: nowrap;

    background: #f1f1f1;
    position: relative;
    height: 80px;
    width: 100%;



}
.col-2of10-icon{
    padding:20px 30px 20px 205px;
    max-height: 80px;
    max-width: 100%;
    min-width: 25%;
    display: inline-block;
    order: 1;
    vertical-align: middle;
    position: relative;
    z-index: 986;
    align-items: center;
    justify-content: flex-end;



}
.col-2of10-logo img{
  width:280px;
  height:auto;

    padding: 15px 0px 0px 0px;
}

.col-2of10-logo{
  width: 25%;
  max-width: 100%;
   max-height: 80px;
    vertical-align: middle;
    padding: 0px 30px 0px 30px;
    overflow: hidden;
    position: relative;
    z-index: 987;
    margin-left: 0!important;
    margin-right: 0!important;
  display: inline-block;
    white-space: nowrap;

}
.col-2of10-search{
    width: 50%;
    max-height: 80px;
    padding: 20px 30px 20px 30px;
}

.col-2of10-search input#search{
  margin-left: 0!important;
  margin-right: 0!important;
  width: 100%;
  height: 40px;

  font-weight: 200;
  background: white;
  border: 1.5px solid #009688;
  font-size: 12pt;
  float: left;
  color: black;
}
.col-2of10-search button.icon{
  border: none;
  background: #009688;
  height: 40px;
  width: 60px;
  color: white;
  opacity: 0;
  font-size: 10pt;
 
  -webkit-transition: all .55s ease;
  -moz-transition: all .55s ease;
  -ms-transition: all .55s ease;
  -o-transition: all .55s ease;
  transition: all .55s ease;
}


.col-2of10-search:hover button.icon, .col-2of10-search:active button.icon, .col-2of10-search:focus button.icon{
    outline: none;
    border: 1.5px solid #009688;
    opacity: 1;
    margin-left: -60px;
}
.col-2of10-search:hover button.icon:hover{
    background: #009688 ;
}

/*account and cart*/
.col-2of10-icon i .fa{

  border: none;
  background: transparent;

  color: #009688;
  opacity: 0.55;
  width: 14px;
  height: 12px;
  padding: 0;  
  font-family: 'proxima-nova';

    
 
  -webkit-transition: all .55s ease;
  -moz-transition: all .55s ease;
  -ms-transition: all .55s ease;
  -o-transition: all .55s ease;
  transition: all .55s ease;
}

.col-2of10-icon button.icon{
  border: 1px solid #009688;
  background: white;
  height: 40px;
  width: 60px;
  color: #009688;
  opacity: 1;
  font-size: 15pt;

 
  -webkit-transition: all .55s ease;
  -moz-transition: all .55s ease;
  -ms-transition: all .55s ease;
  -o-transition: all .55s ease;
  transition: all .55s ease;
}

.col-2of10-icon :hover button.icon , .col-2of10-icon:active button.icon, .col-2of10-icon:focus button.icon{
    outline: none;
    background-color: #009688;
    color: white;
    opacity: 1;

  }
#gba {
    height: 80px;
}




.col-3of10{

}
/*homepage title*/
.col-4of10{
    overflow: hidden;
    width: 100%;
    margin-left: 0;
    text-align: center;
    margin-top: 20px;
    font-weight: 100;

}
.col-4of10-title { 

  float: left;  
  font-size: 30px;
  letter-spacing: 1px;
  margin-left: 30px;

}

.col-4of10 a {
  background: transparent url('img/arrow.png') no-repeat center right;
  float: right;
    padding: 11px 24px 11px 0px;
    text-transform: lowercase;
    margin-right: 42px;
    color: #000;
    text-decoration: none !important;
    font-size: 16px ;
    letter-spacing: 1.5px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}

.col-5of10{
    width: 100%;
    padding: 15px 30px;
    float: left;
    margin: 0;

}

/*book grid*/
.col-6of10{
    width: 19%;
    margin-right: 1%;
    margin-bottom: 2%;
    float: left;
    box-shadow: 0 5px 5px #8d8d8d;

}
.col-6of10-details{

    width: 100%;
    min-height: 25%;
    padding: 0px 2em 0px 2em;
    float: left;


}
.bookcover{  
  height: 365px;
  width: 100%;
  display: table;
  float: left;
  /*box-shadow:inset 1px 1px 40px 0 rgba(0,0,0,.45);*/
  background-image:url(img/book1.png);
  background-size:cover;
  background-repeat: no-repeat;
  overflow:hidden;
  background-position: 50%;
}

/*book title*/
.col-6of10-details h3{
  text-align: center;
  font-size: 15px;
  margin-top: 5px;
  margin-bottom: 5px;

}
.col-6of10-details h4{
  text-align: center;
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 5px;
  color: #0170A7;}

.col-6of10-details p{
  text-align: center;
  font-size: 12px;
  margin-top: 5px;
  margin-bottom: 5px;

}
.col-7of10 p{
  
    text-align: center;
  font-size: 0.9rem;
  margin-top: 3px;
  margin-bottom: 3px;
  color: #1380b5;

}

.rating {
  text-align:center;
  background:rgba(0,0,0,.75);
  padding: 175px 2em 175px 2em;
  font-size: 16px;
  opacity:0;
}
.rating > span {
  display: inline-block;
  position: relative;
  width: 20%;
  color: #FFEB3B;

}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
   position: absolute;
   opacity:1;

}
.bookcover:hover .rating{
  opacity: 1;}



/*book button*/


.col-7of10 a{
    min-width: 49%;
    font-size: 14px;
    margin-top: 10px;
    
    text-transform: uppercase;
    text-align: center;
    display: inline-block;
    padding: 10px;
    color: white;
    background-color: #1380b5;
    text-decoration: none;
    -webkit-transition: background-color 0.3s ease-out;
    -webkit-transition: color 0.3s ease-out;
}

.col-7of10 a:hover{
  background-color:#0170A7;}

.col-7of10{
    width: 100%;
    padding: 10px 2em 20px 2em;
    background-color: white;

}

.col-9of10{
  width: 80%;
  background-color: white;
  padding: 3%;
  margin-left: 10%;
  margin-right:10%;
  margin-top: 5%;

}
.col-10of10{

}

.col-1of10-home{
  background-image: url("img/bg1.jpg");
  height: 300px;
  width: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    display: table;
    min-height: 200px;
    text-align: center;
    transition: height 100ms linear;
    float: left;
    padding: 0;
    margin-bottom: 30px;
}

.col-1of10-home h1{
    font-size: 47px;
    line-height: 52px;
    margin-left: auto;
    margin-right: auto;
    max-width: 736px;
    text-align: center;
    word-wrap: break-word;
    color: black;
    padding-top: 25px;
    margin: 0 auto 20px auto;
    white-space: nowrap;
    word-wrap: normal;

    letter-spacing: 1px;
    font-weight: 100;
    font-style: normal;
    text-transform: uppercase;

}
.col-1of10-home p{
    font-size: 18px;
    line-height: 42px;
    margin-left: auto;
    margin-right: auto;
    max-width: 736px;
    text-align: center;
    word-wrap: break-word;
    color: black;
    margin: 0 auto 20px auto;
    white-space: nowrap;
    word-wrap: normal;
    letter-spacing: 1px;
    font-style: normal;

    text-transform: uppercase;

}
.contents{

    color: #333333;
  width:50%;
  margin-left: 25%;
  margin-right: 25%;

    font-family:'proxima-nova',sans-serif;
}

.col-1of10-home .contents h5{

    color: #333;
    color: rgba(21,21,21,0.8);
    font-size: 47px;
    font-weight: bold;
    line-height: 52px;
    margin-left: auto;
    margin-right: auto;
    max-width: 736px;
    text-align: center;
    word-wrap: break-word;
    color: white;
    padding-top: 25px;
    letter-spacing: -1px;
    margin: 0 auto 20px auto;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.1);
    white-space: nowrap;
    word-wrap: normal;

}

.col-1of10-home .contents p{
font-size: 1.5em;
letter-spacing: .085em;
    max-width: 25em;
    margin-left: auto;
    margin-right: auto;
    line-height: 2;
    text-transform: uppercase;

   }
 

/*
  Here using @media queries, we are specifying when the display
  has a width less than 50em it should collapse the 5/10 columns 
  into one stack (hence width: 100%)

  Think of this as saying, when display width > 50em, apply this
*/
@media (min-width: 50em) {

  

  .grid-col-5of10:first-of-type {
    padding-right: 0.5em;
  }

  .grid-col-5of10:last-of-type {
    padding-left: 0.5em;
  }

}




.col-5of10 p{
  
  text-align: center;
  font-size: 0.8rem;
  margin-top: 3px;
  margin-bottom: 3px;

}
.col-7of10 p{
  
  text-align: center;
  font-size: 0.9rem;
  margin-top: 3px;
  margin-bottom: 3px;
  color: #1380b5;

}
.col-8of10 a {
  min-width: 49%;
    font-size: 14px;
    margin:0;
    text-transform: uppercase;
    text-align: center;
    display: inline-block;
    padding: 10px;
    color: #FFF;
    background-color: #1380b5;
    text-decoration: none;
    -webkit-transition: background-color 0.5s ease-out;}


.col-10of10  a{
    font-size: 14px;
    
    text-transform: uppercase;
    text-align: center;
    display: inline-block;
    padding: 10px 25px 10px 25px;
    color: #FFF;
    background-color: #1380b5;
    text-decoration: none;
    -webkit-transition: background-color 0.5s ease-out;

}

/* Glow */
button .hvr-glow {

  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
}
.hvr-glow:hover, .hvr-glow:focus, .hvr-glow:active {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
}


.col-1of10-home .col-9of10 p {
    margin-left: 10%;
    margin-right: 10%;
}
.col-1of10-home .col-9of10 h2 {
    margin-left: 10%;
    margin-right: 10%;
  }

.col-11of10{
  width:100%;
  padding: 15px 30px;
}

@media (max-width: 1000px) {

  .col-8of10 .col-8of10 a {
    width: 100%;
  }

}


.col-5of10-home{
  width:50%;
}

@media (max-width: 50em) {

  .col-5of10-home {
    width: 100%;
    margin-left:0;
  }

}





@media (max-width: 30em) {

  .col-3of10 {
    width: 100%;
    margin-top: 0;
  }

}

.col-3of10-footer{
  width:33.3%;
}


@media (max-width: 50em) {

  .col-3of10-footer {
    width: 100%;
    margin-top: 0;
  }

}





.grid:after {
  content: "";
  display: block;
  clear: both;

}



/*footer */


.footer-distributed{
  background-color: #009688;
  box-sizing: border-box;
  width: 100%;

  padding-top: 2em;
  padding-bottom: 2em;
  margin-top: 40px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
  display: inline-block;
  vertical-align: top;

}

/* Footer left */

.footer-distributed .footer-left{
  padding-left: 8%;
  width: 30%;
  text-align: left;}

/* The company logo */

.footer-distributed h3{
  color:  white;
  font-size:  24px ;
  margin: 0;
  font-weight: 400;

  text-transform: uppercase;
}

.footer-distributed h3 span{
  color:  white;
}



.footer-distributed .footer-company-name{
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */


.footer-distributed .footer-center{
  padding-left: 8%;
  width: 30%;
  text-align: left;}


.footer-distributed .footer-centera{
  color:  white;
  text-decoration: none;
}



/* Footer Right */



.footer-distributed .footer-company-about{
  line-height: 20px;
  color: white;
  font-size: 14px;
  margin: 20px 0 12px;

}


.footer-distributed .footer-right{
  padding-left: 8%;
    width: 30%;
    text-align: left;
  
}



.footer-distributed .footer-icons{
  margin-top: 25px;
}

.footer-distributed .footer-icons a{
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: white;
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}

/*header responsive*/
@media (max-width: 475px) {

  #cssmenu ul li {
    text-align: center;
    width:100%;
  }
#cssmenu ul li ul li{
   text-align: center;
    min-width:400px;
}

#cssmenu > ul > li.has-sub a
{
    text-align:center;
    min-width:400px;
    border-top: 1px solid white;
  }



.col-2of10 .col-2of10-logo{
  width: 100%;

}
.col-2of10-logo img{
  width: 100%;
}
.col-2of10 .col-2of10-search {
   width: 100%;
  display: none;

}
.col-2of10 .col-2of10-icon {
  display: none;

}
/* home image resposive*/
.col-1of10-home {

    background: url('img/bg4.jpg');
    margin :0;
    background-repeat: no-repeat;

    background-size: cover;
    background-position: 50%;
  }
.col-1of10-home h1{
    display: none;
  }
.col-1of10-home p{
    display: none;
  }

/*book*/
  .col-6of10 {
    width: 80%;
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 5%;
  }
  .col-4of10 {
    width: 100%;
  }
  .col-4of10-title{
    width: 80%;
    margin-right: 10%;
    margin-left: 10%;

  }
  .col-4of10 a{
    width: 50%;
    margin-right: 25%;
    margin-left: 25%;
    padding: 0;
  }
  .col-9of10{
    width: 100%;
    margin:0;
  }


}

/* the footer to be responsive */

@media (max-width: 475px) {




  .footer-distributed{
    font: bold 14px sans-serif;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right{
    display: block;
    width: 100%;
    text-align: center;
  }

  .footer-distributed .footer-center i{
    margin-left: 0;
  }


}




